<h1><%=title %> <%=sca_first_name %> <%=sca_last_name %>
<% if (modern_first_name != 'NULL' || modern_last_name != 'NULL'){%><br><small><%=modern_first_name%> <%= modern_last_name %></small><% } %></h1>
<% if(bio != 'NULL'){ %><p><%=bio%></p><% }%>
<h3>Classes</h3>
<table class="table table-hover">
<thead>
<th>Year</th><th>Title</th><th>Difficulty</th><th>Teaching Style</th>
<th>Category</th>
</thead>
<tbody></tbody>
</table>
