<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4><%= modal_title %></h4></small>
    </div>
    <form>
      <div class="modal-body">
        <div class="form-group">
          <label for="user-username" class="control-label">Username:</label> 
          <input class="form-control" id="user-username" name="username" type="text" value="<%= username %>"/>
        </div>
        <div class="form-group">
          <label for="user-email" class="control-label">Email Address:</label> 
          <input class="form-control" id="user-email" name="email" type="text" value="<%= email %>"/>
        </div>
      <div class="form-group">
        <label for="user-title" class="control-label">Title:</label> 
        <select class="form-control" id="user-title" name="title_id">
<%
titles.each(function(title){
%><option <% if(title.get('id') == title_id){ %> selected <%} %> value="<%= title.get('id')%>"><%=title.get('name')%></option>
<%  }); %>
        </select>
      </div>
        <div class="form-group">
          <label for="user-sca_first_name" class="control-label"> SCA First Name:</label> 
          <input class="form-control" id="user-sca_first_name" name="sca_first_name" type="text" value="<%= sca_first_name %>"/>
        </div>
        <div class="form-group">
          <label for="user-sca_last_name" class="control-label"> SCA Last Name:</label> 
          <input class="form-control" id="user-sca_last_name" name="sca_last_name" type="text" value="<%= sca_last_name %>"/>
        </div>
        <div class="form-group">
          <label for="user-modern_first_name" class="control-label"> Modern First Name:</label> 
          <input class="form-control" id="user-modern_first_name" name="modern_first_name" type="text" value="<%= modern_first_name %>"/>
        </div>
        <div class="form-group">
          <label for="user-modern_last_name" class="control-label"> Modern Last Name:</label> 
          <input class="form-control" id="user-modern_last_name" name="modern_last_name" type="text" value="<%= modern_last_name %>"/>
        </div>
      <div class="form-group">

        <label for="user-bio" class="control-label">Bio:</label> 
        <textarea class="form-control" rows="4" id="user-bio" name="description" type="text" ><%= bio %></textarea>
      </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary js-submit">
        <% if(typeof button_text !== 'undefined'){ %><%=button_text%> <%} else{ %>Save<%}%>
        </button>
      </div>
    </form>
  </div>
</div>
