<td><%= year%></td>
<td>
<% if(Cecilia.currentUser != undefined){ %>
<button type="button" class="btn btn-primary js-edit btn-xs"><i class="glyphicon glyphicon-pencil"></i> Edit</button>
<%} %>
<a href="#activities/<%=id%>"><%=title%></a></td>
<td class="teachers"></td>
<td><%=difficulty%></td>
<td><%=activity_type%></td>
<td><%=activity_subtype%></td>
