<h4><%= title %> (Mistress Jadzia)</h4>
<p>Start Time: <%= moment(start_time).format('dddd, h:mm a') %></p>
<p>Location:<%= classroom %> </p>
<p>Difficulty: <%= difficulty %>; Teaching Style: <%= activity_type %>; Category: <%= activity_subtype %></p>
<p><%= description %></p>
